body {
    background: #000000;
}
  
  h1 {
    color: white;
    font-family: "Michroma", 'Arial Narrow Bold';
    font-weight: 400;
    font-style: normal;   
 } 

 h2 {
   color: white;
   font-family: "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 700;
   font-style: normal;
 } 
 
 
 p {
   color: white;
   font-family: "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 500;
   font-style: normal;
 }
 