body {
    background: #000000;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 span{ 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   padding: 10px; 
   letter-spacing: 1px;
   
   color: rgb(255, 255, 255);
   font-family: Bold "Chivo Mono", "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 500;
   font-style: normal;
   font-size: 2.5em; 
   line-height: 0.4em;
   
}

 p {
   color: rgb(255, 255, 255);
   font-family: "Chivo Mono", "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 500;
   font-style: normal;
   font-size: 2em; 
 }

a {
   color: white;
   font-family: "Chivo Mono", "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 500;
   font-style: normal;
   font-size: 2em; 
}

i {
   color: rgb(224, 11, 11);
   font-family: "Chivo Mono", "IBM Plex Mono", 'Arial Narrow Bold';
   font-weight: 500;
   font-style: normal;
   font-size: 2em; 
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
 }

.imageflex { display:flex }
.imageflexcontent { margin-left: 5px; margin-top: 0;}

 